{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
    <main class="flex justify-center pt-20">

        <form method="post" class="flex flex-col items-center gap-y-10 bg-gray-400 w-fit rounded-2xl px-10 py-5">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {#    {% if app.user %}#}
            {#        <div class="mb-3">#}
            {#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
            {#        </div>#}
            {#    {% endif %}#}

            <h1 class="mb-3 text-3xl font-bold uppercase">Connexion</h1>
            <div class="flex flex-col justify-center gap-y-3">
                <label class="text-center font-medium" for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control px-3 rounded-xl" autocomplete="username" required autofocus>
            </div>
            <div class="flex flex-col justify-center gap-y-3">
                <label class="text-center font-medium" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control px-3 rounded-xl" autocomplete="current-password" required>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="bg-black text-white font-bold px-3 py-2 rounded-2xl" type="submit">
                Se connecter
            </button>
        </form>

    </main>
{% endblock %}
